/* Container styles */
#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    border: 2px solid #333;
    margin: 20px;
}

/* Individual square styles */
.square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

/* Colors for the squares */
.white {
    background-color: #cccbcb;
}

.black {
    background-color: #3a2a2a;
}
[class$="img"] {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.white-valid-moves {

   border:4px solid rgba(255, 255, 255);
}

.selected .white-img {
    background: #FFF;
}


.black-valid-moves {

    border:4px solid rgb(0, 0, 0);
 }
 
 .selected .black-img {
     background: #000000;
 }